html {
  width: 100%;
  height: 100%;
  margin: 0;
}
body{
  min-width: 1000px;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
}

.page-loading {
  height: 100vh;
}

.my-autocomplete {
  li {
    line-height: normal;
    padding: 7px;

    .name {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .addr {
      font-size: 0.8em;
      color: #b4b4b4;
    }

    .highlighted .addr {
      color: #ddd;
    }
  }
}

.clearfix{overflow:hidden;_zoom:1;}
